.main-headline {
  font-family: 'Dancing Script', cursive;
  margin-top: 0;
  color: $accent;
}

/* Form styles */

.edit-recipe-form {
  label {
    font-weight: 600;
  }
  input {
    width: 100%;
  }
  fieldset {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    input {
      width:75%;
    }
  }
  //width: 100%
  //@extend .container;
  //margin: 0 0 1em 1em;
}

/*Button styles*/

.btn {

  border: none;
  background: $primary2;
  color: $light-background;
}
button.add-ingredient {
  margin-top: 1em;
}
// Card styles

.card {
  h2 {
    @include card-headline($primary2);
  }
  h3 {
    @include card-headline($primary1);
  }
  .card-top {
    padding: 0;
  }
  .card-bottom {
    padding: 1em;
  }
  background-color: $background;
  margin-top: 1em;
  box-shadow: 3px 3px 1px #bbb
}

// Recipe List Styles

ul.recipe-list {
  li {
    list-style-type: none;
  }
  li button {
    margin-bottom: .4em;
  }
  margin: 0 0 0 -1.75em;
}


