.main-headline {
  font-family: 'Dancing Script', cursive;
  margin-top: 0;
  color: #CCA90D;
}

/* Form styles */
.edit-recipe-form {
  margin-bottom: 1em;
}

.ingredient-fieldset {
  margin-top: 1em;
  margin-bottom: 1em;
}

.recipe-fieldset {
  padding: 1em;
}

/*Button styles*/

.btn {
  border: none;
  background: #69DFFF;
  color: #fff;
}

.add-ingredient {
  margin:auto;
}

/* Card styles */
.card {
  height: 100%;
  margin-top: 1em;
  padding: 0 1em 1em 1em;
  border: 1px solid #bbb;
  box-shadow: 3px 3px 1px #bbb
}

.card-headline {
  padding: .5em;
  color: #fff;
  background-color: #0DCCC1;
  margin-left: -.6em;
  margin-right: -.6em;
  margin-top: 0;
}


