<section class="card two-thirds column">
  <div class="card-top">
   <h3>{{recipe.title}}</h3>
  </div>
 <div class="card-bottom">
  <div data-ng-if="recipe.editing" data-recipe-form-directive
    data-button-text="Update Recipe"
    data-form-name="recipeForm{{recipe._id}}"
    data-recipe="recipe"
    data-add-ingredient-field="addIngredientField({recipe:recipe}, ingredient)"
    data-remove-ingredient-field="removeIngredientField({recipe:recipe})"
    data-cancel="cancelEditing({recipe:recipe})"
    data-save="update({recipe:recipe})">
  </div>
  <div class="card-bottom" data-ng-if="!recipe.editing">
   <strong>Ingredients:</strong>
   <ul>
     <li data-ng-repeat="ingredient in recipe.ingredients">
      {{ingredient}}
    </li>
  </ul>
  <button class="btn btn-edit" data-ng-click="makeCopy({recipe:recipe})">Edit</button>
  <button class="btn btn-delete" data-ng-click="remove({recipe:recipe})">Delete</button>
</section>
