<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="application.css">
  <title>Recipes and Stuff</title>
</head>
<body data-ng-app="recipeApp">
  <main class="container" data-ng-controller="RecipesController" data-ng-init="getAll()">
    <section class="row top-row">
      <h1 class="main-headline">Our Super Recipe App</h1>
    </section>
    <section class="card row">
      <div class="card-top">
        <h2>Add a new Recipe!</h2>
      </div>
      <div class="card-bottom">
        <form class="card-form" name="newRecipeForm" data-ng-submit="create(newRecipe)">
          <label for="newRecipeTitle">Recipe Name: </label>
          <input type="text" id="newRecipeTitle" required data-ng-model="newRecipe.title">
          <button class="btn" type="submit" data-ng-disabled="newRecipeForm.$invalid">Create New Recipe</button>
        </form>
      </div>
    </section>
    <div class="row">
      <div data-card-directive
      data-header-text="Recipe List"
      data-width="one-third column">
      <ul class="recipe-list">
          <section data-ng-repeat="recipe in recipes">
            <li>
              <button type="button" class="btn" data-ng-click="seeRecipe(recipe)">{{recipe.title}}</a>
              </button>
            </li>
            </section>
          </ul>
      </div>
      <div data-card-directive
      data-ng-if="currentRecipe !== null"
      data-header-text="{{currentRecipe.title}}"
      data-width="two-thirds column">
        <div data-ng-if="currentRecipe.editing" data-recipe-form-directive
            data-button-text="Update Recipe"
            data-form-name="recipeForm{{currentRecipe._id}}"
            data-recipe="currentRecipe"
            data-add-ingredient-field="addIngredientField(recipe, ingredient)"
            data-remove-ingredient-field="removeIngredientField(recipe)"
            data-cancel="cancelEditing(recipe)"
            data-save="update(recipe)">
        </div>
        <div data-ng-if="!currentRecipe.editing">
           <strong>Ingredients:</strong>
           <ul>
             <li data-ng-repeat="ingredient in currentRecipe.ingredients">
              {{ingredient}}
            </li>
          </ul>
          <button class="btn btn-edit" data-ng-click="makeCopy(currentRecipe)">Edit</button>
          <button class="btn btn-delete" data-ng-click="remove(currentRecipe)">Delete</button>
        </div>
      </main>
      <script src="bundle.js"></script>
    </body>
    </html>
